*{
    box-sizing: border-box;
  }
  
  body{
    background:antiquewhite;
    color:#485e74;
    line-height:1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:1em;
  }
  h1{
    text-align: center;
  }
  a{
    text-decoration: none;
    color: #4a95e0;
  }
  .container{
    max-width:410px;
    margin-left:auto;
    margin-right:auto;
    padding:1em;
  }
  /* FORM STYLES */
  #contact form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
  }
  
  #contact form label{
    display: contents;
  }
  
  #contact form p{
    margin:0;
  }
  
  .contact form .full{
    grid-column: 1/2;
  }
  
  .contact form button, .contact form input, .contact form textarea{
    width:100%;
    padding:1em;
    border:1px solid #c9e6ff;
  }
  
  .contact form button{
    background:#b0a8a87e;
    border:0;
    text-transform: uppercase;
  }
  
  .contact form button:hover,.contact form button:focus{
    background:#0505057a;
    /* color:#fff; */
    outline:0;
    transition: background-color 2s ease-out;
  }
  
  .alert{
    text-align: center;
    padding:10px;
    background:#79c879;
    color:#fff;
    margin-bottom:10px;
    display:none;
  }
